/*For Headeer styling*/
body
{
	font-size: 16px;
	font-family: 'Anton', sans-serif;;
}

#header-nav
{
	background-color: 	rgb(255,136,0);
	border-radius:  	0;
	border: 			0;
}

/*Company Name*/
.navbar-brand h1 
{ 
	font-family: 'Roboto Slab', serif;
	color: #1100ff;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

/*Take out underlines once user click Copmany name*/
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list
{
	text-align: center;
	font-size: 20px;
}

#nav-list a:hover 
{
	background: #e6902e;
}

#nav-list a span
{
	color: white;
}


.navbar-header button.navbar-toggle, .navbar-header button.navbar-toggle:hover , .navbar-header .icon-bar 
{
	border: 1px solid #ff8800;
	background-color: #fff
}
.navbar-header button.navbar-toggle 
{
	position: absolute;
	clear: both;
	top: 10px;
	right: 10px;
	margin: 0;
}

/******************************************/
/**************Media Quary****************/
/****************************************/

/********** Large devices only **********/
@media (min-width: 1200px) 
{

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) 
{

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) 
{

}

/********** Extra small devices only **********/
@media (max-width: 767px) 
{

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) 
{

}
