
/******************************************/
/**************Global Style***************/
/****************************************/
body
{
	font-size: 20px;
	font-family: 'Anton', sans-serif;
	color: black;
	background-color: #DADADA;
}

/******************************************/
/**************Header Style***************/
/****************************************/


#header-nav
{
	background-color: 	rgb(255,136,0);
	border-radius:  	0;
	border: 			0;
}

/*Company Name*/
.navbar-brand h1 
{ 
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

/*Take out underlines once user click Copmany name*/
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list
{
	text-align: center;
	font-size: 20px;
}

#nav-list a:hover 
{
	background: #e6902e;
}

#nav-list a span
{
	color: black;
}


.navbar-header button.navbar-toggle, .navbar-header button.navbar-toggle:hover , .navbar-header .icon-bar 
{
	border: 2px solid #ff8800;
	background-color: #fff
}
.navbar-header button.navbar-toggle 
{
	position: absolute;
	clear: both;
	top: 5px;
	right: 5px;
	margin: 0;
}

/******************************************/
/**************Main Content***************/
/****************************************/

#Main_Content h1
{
	margin-bottom: 20px;
	vertical-align: middle;
}c

#Chicken_Tile,#Beef_Tile,#Sushi_Tile
{
	height: 1000px;
	width: auto;
	padding-top: 30px;
	padding-right: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	position:relative;
	border: 3px solid #000;

}

#Chicken_Tile span,#Beef_Tile span,#Sushi_Tile span
{
	position: absolute;
	text-align: center;
	top: 0;
	right: 0;
	width: 100%;
	background-color: rgb(255,136,0);
}
/******************************************/
/**************Media Quary****************/
/****************************************/

/********** Large devices only **********/
@media (min-width: 1200px) 
{

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) 
{

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) 
{

}

/********** Extra small devices only **********/
@media (max-width: 767px) 
{

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) 
{

}
